:root{
  --bg: #378f83;
}
body{
  background-color: black;
  color: white;
  overflow: hidden; 
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
  cursor: pointer;
  background-color: var(--bg);
  font-size: 3vw;
  color: white;
  font-weight: 700;
  padding: 0.3vw;
}
#canvas{
  margin: auto;
  border: 0.1vw white solid;
}
.crab{
  width: 3vw;
}
.homeButton{
  text-decoration: none;
  color: aliceblue;
}
.game{
  overflow: hidden;
}
.gameOverText{
  text-align: center;
}
.gameOverbigText{
  font-size: 5vw;
  margin: 1vw;
}
.no{
  display: none;
}
.best{
  color: gold;
}
.symbol{
  color: #378f83;
  font-size: 2vw;
}


@media only screen and (max-width: 800px) {
  .crab{
    width: 10vw;
  }
  button{
    cursor: pointer;
    background-color: var(--bg);
    font-size: 10vw;
    color: white;
    font-weight: 700;
    padding: 0.3vw;
  }
  .gameOverbigText{
    font-size: 15vw;
    margin: 1vw;
  }
  #canvas{
    position: absolute;
    /* margin-left: 10vw; */
    margin: auto;
    border: none;
  }
  .left{
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.24); */
    width: 50vw;
    height: 600vw;
    top: 0;
    z-index: 999;
  }
  .right{
    left: 50vw;
    position: absolute;
    /* background-color: rgba(0, 255, 42, 0.418); */
    width: 50vw;
    height: 600vw;
    top: 0;
    z-index: 999;
  }
  .homeDiv{
    font-size: 2vw;
    top: 0vw;
    height: 1vw;
  }
  .homeButton{
    top: -55vw;
  }
  .crab{
    width: 2vw;
  }
}